<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
	th:replace="~{userLayout::base(~{::section})}">
<head>
<title>Document</title>
<link rel="stylesheet" th:href="@{/css/login-page.css}" />
</head>
<body>


	<section class="main-section">

		<div class="sidebar" id="sidebar">
			<span id="sidebar-menu"
				class="material-symbols-outlined sidebar-button"> close </span>

			<nav>
				<ul class="sidebar-ul" id="sidebar-ul">
					<li class="sidebar-li" id="pro"><a th:href="@{/products}">
							Shop </a></li>
					<li class="sidebar-li" id="pooja-li"><a
						th:href="@{/pooja-slot}"> Pooja Slot </a></li>

					<li class="sidebar-li" id="darshan-li"><a
						th:href="@{/darshan-slot}"> Darshan Slot </a></li>
					<li class="sidebar-li" id="artist-li"><a
						th:href="@{/book-artist}">Book Artist</a></li>
					<li class="sidebar-li" id="donate-li"><a th:href="@{/donate}">Donate</a></li>
					<li class="sidebar-li" id="donate-li"><a th:href="@{/hall-booking}">Hall Booking</a></li>

				</ul>
			</nav>
		</div>
		<div class="contentArea" id="contentArea">
			<div id="donate" class="donate base-style">
				<div class="container mt-5 col-7">
					<h2 class="text-center mb-4">
						<b> Donation Form</b>
					</h2>
					<form class="pooja-slot-form" method='post' th:object='${donationForm}'
					th:action="@{/submitDonationForm}"
					>
						<div class="form-group">
							<label for="donationType">Donation Type:</label> <select
								class="form-control" id="donationType" 
								th:field="*{donationType}"
								required>
								<option value="" disabled selected>Select donation type</option>
								<option value="cash">Cash</option>
								<option value="ration">Ration</option>
							</select>
							<span
									style="color: red;" th:if="${#fields.hasErrors('donationType')}"
									th:errors="*{donationType}"></span>
						</div>
						<!--  ***********************************  -->
						<div class="form-group">
							<label for="amountOrItems">Amount/Items:</label>
							<TextArea class="form-control" id="amountOrItems"
							th:field="*{amountOrItems}"
								placeholder="Enter amount or items" required></TextArea>
									<span
									style="color: red;" th:if="${#fields.hasErrors('amountOrItems')}"
									th:errors="*{amountOrItems}"></span>
						</div>
						
						
						
						<div class="form-group">
							<label for="contactName">Your Name:</label> <input type="text"
								class="form-control" id="contactName"
								th:field="*{contactName}"
								placeholder="Enter your name" required>
									<span
									style="color: red;" th:if="${#fields.hasErrors('contactName')}"
									th:errors="*{contactName}"></span>
						</div>
						
						
						
						<div class="form-group">
							<label for="contactEmail">Your Email:</label> <input type="email"
								class="form-control" id="contactEmail"
								th:field="*{contactEmail}"
								placeholder="Enter your email" required>
									<span
									style="color: red;" th:if="${#fields.hasErrors('contactEmail')}"
									th:errors="*{contactEmail}"></span>
						</div>
						
						
						
						<div class="form-group">
							<label for="contactPhone">Your Phone:</label> <input type="tel"
								class="form-control" id="contactPhone"
								th:field='*{contactPhone}'
								placeholder="Enter your phone number" required>
									<span
									style="color: red;" th:if="${#fields.hasErrors('contactPhone')}"
									th:errors="*{contactPhone}"></span>
						</div>
						
						
						

						<div class="form-group">
							<label for="contactAddress">Your Address:</label> <input
								type="text" class="form-control" id="contactAddress"
								th:field='*{contactAddress}'
								placeholder="Enter your phone number" required>
								
									<span
									style="color: red;" th:if="${#fields.hasErrors('contactAddress')}"
									th:errors="*{contactAddress}"></span>
						</div>
						
						
						
						<button type="submit" class="btn btn-primary">Submit</button>
						<span type="submit" id="donate-cash-online"
							class="btn btn-success">Donate Money Online</span>
					</form>
					
					<div th:classappend="${donate != null} ?  'mt-2 confirmation' : ''"
					>
					<b>	<p th:text="${donate}"></p></b>
						<p th:text="${name}"></p>
						<p th:text="${email}"></p>
						<p th:text="${number}"></p>
						<p th:text="${items}"></p>
					</div> 


					<div class="form-popup" id="myForm">
						<form action="/submit" class="form-container">
							<h2>Donate Online Form</h2>

							<div class="form-group">
								<label for="name">Name :</label> <input
									type="text" class="form-control" id="online-name"
									placeholder="Enter your name" required>
							</div>
							
							<div class="form-group">
								<label for="number">Phone Number :</label> <input
									type="text" class="form-control" id="online-number"
									placeholder="Enter your Number" required>
							</div>
							
							<div class="form-group">
								<label for="email">Email :</label> <input
									type="email" class="form-control" id="online-mail"
									placeholder="Enter your Email" required>
							</div>
							
							<div class="form-group">
								<label for="Amount">Amount :</label> <input
									type="text" class="form-control" id="online-amt"
									placeholder="Enter your Amount" required>
							</div>

							<span  class="btn" onclick="donateOnline()">Pay </span>
							<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
						</form>
					</div>


				</div>
			</div>
		</div>
	</section>



	<script type="text/javascript" th:src="@{/javascript/service-page.js}"></script>
</body>
</html>